/* 완료된 항목에 줄긋기 스타일 */
.todo-text.completed {
    text-decoration: line-through; /* 줄긋기 */
    color: gray; /* 회색으로 표시 */
    font-style: italic; /* 이탤릭체로 표시 */
}

  /* 체크박스 크기 조정 */
.complete-checkbox {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
/* 버튼 스타일 */
.btn-primary {
    background-color: #5586EB;
    color: white;
}

/* 배경 스타일 */
body {
    background-color: #F6F6F6
}

/* 리스트 스타일 */
.list-group-item {
    border-left: 4px solid #5586EB;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.list-group-item:hover {
    background-color: #E7E7E7;
    transform: translateX(5px);
}

.btn-secondary {
    background-color: #5586EB;
}